{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/order_form_functions.js" defer></script>
{% endblock head %}

{% block body %}

<h2>{{ title }}</h2>

<a href="/all_items">back to catalog</a>
<br>
<div id="chosen-items-area">
</div>
<div>
    <br>
    <form method="POST" action="/submit_order" id="submit_order_form">
        Full Name:
        <input name="customer" type="text"><br>
        Destination address:
        <input name="destination_address" type="text"><br>
        Email:
        <input name="email" type="email"><br>
        Courier:
        <select name="courier">
            {% for courier in couriers %}
                <option value="{{ courier[0] }}">{{ courier[1] }}</option>
            {% endfor %}
        </select><br>
        <input value="submit order" type="submit"><br>

        <input name="hid_items_to_submit" type="hidden" value="">

    </form>
</div>

{% endblock body %}