{% extends '/staff_only/control_panel.html' %}

{% block head %}
    {{ super() }}
    <title>{{ the_title }}</title>
    <script type="text/javascript" src="/static/js/waiting_orders_functions.js" defer></script>
{% endblock head%}

{% block body %}

    {{ super() }}

    <div>
        <div class="status-area-div" id="status_area_div"></div>
    </div>

    <div>
        {% if not there_are_waiting_orders %}
            <h2>There is no any waiting order at the moment</h2>
        {% else %}
            <table>
                <tr class="tr-table-header">
                    {% for column_name in order_column_names %}
                        <th class="th-table-header">{{ column_name }}</th>
                    {% endfor %}
                </tr>
                {% for order in  waiting_orders %}
                    <tr id="{{ 'order_tr_' ~ loop.index }}">
                    {% set order_loop = loop %}
                        {% for data in order %}
                            <td id="{{ 'order_td_' ~ order_loop.index ~ '_' ~ loop.index }}">{{ data }}</td>
                            {% if loop.last %}
                                <td id="{{ 'order_td_' ~ order_loop.index ~ '_' ~ (loop.index + 1)}}">
                                    <button class="order-approve-btn" id="{{ 'order_approve_btn_' ~ order_loop.index }}">Approve order</button>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="{{ order|length }}">
                            <details class="waiting-order-details">
                                <summary>Details</summary>
                                <table>
                                    <tr>
                                        {% for column_name in sku_details_column_names %}
                                            <th>{{ column_name }}</th>
                                        {% endfor %}
                                    </tr>
                                    {% for sku_details in orders_sku_details %}
                                        {% if sku_details[0] == order[0] %}
                                            <tr>
                                                {% for detail in sku_details %}
                                                    <td>{{ detail }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </details>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% endblock body %}